{{#> medlemskapresultater/partials/base }} {{#*inline "doctitle"}}
    Bruker er medlem i folketrygden. Automatisk vurdering gjort i forbindelse med krav om sykepenger for perioden {{ fom }} - {{ tom }}
{{/inline}}
{{#*inline "title"}}
    <div style="font-style:italic; font-size: 18px; font-weight: bold; text-align: left;"> Notat opprettet automatisk
        {{ opprettet }} </div> {{/inline}}
{{/medlemskapresultater/partials/base}}